.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.day {
    border-top: 1px solid black;
    border-left: 1px solid black;
}