{% extends 'planner/base.html' %}

{% block title %}month{% endblock %}

{% block content %}
<h1>{{ year }}/{{ month }}</h1>
<nav>
    <a href="{% url 'planner:month' prev.year prev.month %}">prev</a>
    <a href="{% url 'planner:month' next.year next.month %}">next</a>
</nav>
<div class="month">
    {% for week in weeks %}
    <div class="week">
        {% for day in week %}
        {% if day.date.month == month %}
        <div class="day">
            <a href="{% url 'planner:day' year month day.date.day %}" class="add_button">Add event</a>
            <p class="label">{{ day.date.day }}</p>
            {% if day.events %}
            <ul class="events">
                {% for event in day.events %}
                <li class="event">{{ event.time|time:'H:i' }} {{ event.name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% else %}
        <div class="day">
            <p class="label">{{ day.date.month }}/{{ day.date.day }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}